In [1]:
a = 10 #변수 선언
a

a = 100 #값의 변경
a

100

In [2]:
b = 200
b

result = a + b
result

300

In [3]:
c = "홍길동" # 문자의 표현은 "" 혹은 ''로 한다.
c

'홍길동'

In [4]:
c = 5
result = a+b+c+result
result

605

In [5]:
#변수의 식별자(변수 이름 규칙)
#1a = 100 숫자 시작 x
a1 = 100
a2 = 200
apple = "사과"
Apple = "싸과"
applE = "미안"
print(apple, Apple, applE)

my_birth = 2000817 # 공백은 _ 로 대체해야 한다

사과 싸과 미안

In [6]:
#파이썬에 이미 지정된 기능을 변수처럼 사용할 순 있지만,
#사용해버리면 기존 기능은 사용하지 못한다
#pirnt = "값을 저장"
#print(apple)

#_를 붙여 사용하는 것을 권장함
print_ = "프린트"
print_

'프린트'

In [ ]:
##데이터 타입 int, float, string, bool

In [15]:
a = 100
b = 3.141
c = '홍길동'
d = True

type(b)

float

In [36]:
print("\"hello\\world\"")

s1 = "안녕하세요~~"
s2 = "나는 너에게 \"어렵다\"";
#s3 = "나는 너에게"어렵다" 라고 "  같은 따음표 끼리는 오류이므로 \"\" 로 표시
print(s2)

s4 = "안녕?~~?\n 잘가!!"
print(s4)
s5 = "안녕?~~ \t잘가!!"
print(s5)

# \U \D \c 이런 탈출문자는 
# 존재하지 않음으로 \\를 사용해야 제데로 사용가능
s6 = "C:\\Users\\user\\Desktop\\course"
print(s6)

"hello\world"
나는 너에게 "어렵다"
안녕?~~?
 잘가!!
안녕?~~ 	잘가!!
C:\Users\user\Desktop\course

In [39]:
# 따음표 3개는 줄바꿈도 그대로 나타낸다.
s7 = """여기서 
적는 
글은 
그대로 나타납니다."""
print(s7)

여기서
적는
글은
그대로 나타납니다.

NameError: name 'dog' is not defined