In [2]:
#문자열 연산

s1 = "오늘 저녁은"
s2 = "치킨이다"

s3 = s1 + s2
s3
#문자열+정수는 사용할 수 없다.
print(s1 + s2 + "!와 맛있겠다" + "ㅇㅇ")

오늘 저녁은치킨이다!와 맛있겠다ㅇㅇ

In [1]:
#파이썬에서는 문자열 곱셈도 가능
a = "winner winner chicken dinner"
a*3

'winner winner chicken dinnerwinner winner chicken dinnerwinner winner chicken dinner'

####형변환
- int()
- float()
- str ()
- bool()

In [2]:
name = "홍길동"
point = 90
print(name + "님의 점수는 " + str(point) + " 입니다")

홍길동님의 점수는 90 입니다

In [3]:
str(point)
point=float(point);
int(3.14)
bool("x")
#int(name) #바뀔 수 없는 값은 형변환시에 에러가 발생함.

True

In [4]:
bool("x")

True

In [5]:
x = "3.14"
y = int(float(x))
y

3

In [6]:
a1 = int(input("정수를 입력해주세요"))

a2 = input("너 별명이 뭐니?")
print("너의 별명은 : " + a2)

정수를 입력해주세요123
너 별명이 뭐니?별명
너의 별명은 : 별명

In [12]:
n1 = int(input("숫자입력>"))
n2 = int(input("숫자입력>"))
print("입력받은 숫자는 : ", n1+n2)

숫자입력>12
숫자입력>12
입력받은 숫자는 :  24

In [27]:
name = input("이름을 입력하세요 : ")
age =int(input("나이를 입력하세요 :"))
year = 2023-age+1
print("---------------------")
print(f"이름 : {name}")
print(f"나이 : {age} 세")
print(f"출생년도 : {year} 년")

이름을 입력하세요 : 홍길동
나이를 입력하세요 :27
---------------------
이름 : 홍길동
나이 : 27 세
출생년도 : 1997 년

In [30]:
food = int(input("음식의 가격 : "))
person = int(input("사람 수 : "))
price = food * person
print("-"*20)
print("가게에 지불해야 할 금액 :", price, "원")

음식의 가격 : 4000
사람 수 : 10
--------------------
가게에 지불해야 할 금액 40000 원

In [33]:
3**2

9