In [ ]:
# 반복문 for 
# for 변수 in 나열가능한자료
#나열가능한자료
#리스트 [] (대괄호) 안에 값을 나열해 놓은 형식이다.

In [2]:
for i in [1,2,3] :
    print(i, "님 안녕하세요?")

1 님 안녕하세요?
2 님 안녕하세요?
3 님 안녕하세요?

In [6]:
sum1 = 0

for i in [1,2,3,4,5,6,7,8,9,10] :
    print(i, end  = " ")
    sum1+=i
print(f"합계 : {sum1}")

1 2 3 4 5 6 7 8 9 10 합계 : 55

In [ ]:
#range 함수
#리스트 생성할 때 일일히 하나씩 다 적는건 한계가 있다.
#range(시작값, 끝값, step(점핑값))을 통해 리스트를 좀 더 쉽게 생성할 수 있다.
#시작값은 포함으로 시작해서 끝값은 미만으로 해석된다. step은 생략이 가능하다.
# ex)list(range(1, 3)) = [1, 2]

In [9]:
list1 = list(range(1, 11))
print(list1)
list2 = list(range(2, 11, 2))
print(list2)
list3 = list(range(1,11,1))
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
for i in range(1, 11) : # 1~10
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
for i in range(7, 201, 7):
    print(i,  end=" ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196

In [25]:
cnt = 0
for i in range(13, 9877, 13):
    cnt += 1

print(cnt)

759

In [16]:
num = int(input("구구단 몇단?> "))

for i in range(1, 10):
    print(f"{num} X {i} = {num*i}")

구구단 몇단?> 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [ ]:
# 중첩반복
# 외부 반복문 안에 내부 반복문이 존재하는 형태

In [29]:
for i in range(1, 10):
    for j in range(1, 6):
        print(f"{i} - {j}")

1 - 1
1 - 2
1 - 3
1 - 4
1 - 5
2 - 1
2 - 2
2 - 3
2 - 4
2 - 5
3 - 1
3 - 2
3 - 3
3 - 4
3 - 5
4 - 1
4 - 2
4 - 3
4 - 4
4 - 5
5 - 1
5 - 2
5 - 3
5 - 4
5 - 5
6 - 1
6 - 2
6 - 3
6 - 4
6 - 5
7 - 1
7 - 2
7 - 3
7 - 4
7 - 5
8 - 1
8 - 2
8 - 3
8 - 4
8 - 5
9 - 1
9 - 2
9 - 3
9 - 4
9 - 5

In [32]:
for i in range(2, 10):
    print(f"구구단 {i} 단")
    for j in range(1 , 10):
        print(f"{i} X {j} = {i*j}")
    print("")

구구단 2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

구구단 3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

구구단 4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

구구단 5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

구구단 6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

구구단 7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

구구단 8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

구구단 9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [1]:
num = int(input("몇층짜리 별을 찍으시겠습니까?> "))

for i in range(1,num+1) :
    for j in range(1,i+1):
        print("*", end="")
    print("")

몇층짜리 별을 찍으시겠습니까?> 5
*
**
***
****
*****

In [76]:
num = int(input("몇층짜리 별을 찍으시겠습니까?> "))

for i in range(1,num+1) :
    for j in range(1, num-i+2):
        print("*", end="")
    print("")

몇층짜리 별을 찍으시겠습니까?> 6
******
*****
****
***
**
*

In [75]:
star = int(input("별을 몇층 찍어 볼까?>"))


for i in range(1, star+1): 
    for j in range(1, star-i+1): #공백  
        print(" ", end="")
    for j in range(1, i*2): #별 2개씩 증가
        print("*", end="")
    print()

for i in range(1, star): 
    for j in range(1, i+1):
        print(" ", end="")
    for j in range(1, star*2-i*2):
        print("*", end="")
    print()

별을 몇층 찍어 볼까?>5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

*******
 *****
  ***
   *

In [36]:
star = 4

for i in range(0,star):
    for j in range(0,star-i):
        print(" " , end="")
    for j in range(0,i*2+1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******